node_modules
.git
.expo

android/.gradle
android/**/.gradle
**/.gradle

android/build
android/app/build
**/build

ios/build

*.apk
*.aab
*.keystore

npm-debug.log
yarn-error.log

coverage
dist

gradle-build.log